$blue: #1eaaf1;
$indigo: #5d50c6;
// $purple: #6f42c1;
// $pink: #e83e8c;
$red: #f1453d;
$white: #fff;
$orange: #fda638;
$green: #8cc152;
$violet: #5d50c6;
$gray: #abb0b4;

$accent: #17a2b8;
$dark: #343a40;

$ff:  "Work Sans", Arial, sans-serif;

$ff-logo: 'Acme', sans-serif;